<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="org.rahma.TestUtils.Listeners"/>
</listeners>

  <test thread-count="5" name="End to end Framework Test">
    <classes>
      <class name="org.rahma.eCommerce_tc_4_Hybrid"/>     
    </classes>
  </test> <!-- Test -->

  <test thread-count="5" name="Error Validations Test">
    <classes>
      <class name="org.rahma.eCommerce_tc_2"/>     
    </classes>
  </test> <!-- Test -->

  <test thread-count="5" name="IOS Test">
    <classes>
      <class name="org.rahma.IOSBasics"/>     
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
